.App {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.main-title {
  align-self: center;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  justify-items: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ccc;
  border-radius: 1rem;
  padding: 5px;
  width: 300px;
}

@media (min-width: 768px) {
  .main-container {
    width: 570px;
  }
}
